/* место для вашего кода */
@import "./header.css";
@import "./cover.css";
@import "./lots.css";
@import "./about.css";
@import "./footer.css";

h1 {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 115px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

/* there is address in two places */
.address {
    justify-self: left;
    line-height: 1.3;
    padding-right: 56px;
    font-style: normal;
}

.header__address {
    justify-self: right;

}

.contact {
    max-width: 210px;
    width: 100%;
/*    width: 210px;*/
    text-underline-offset: 17%;
/*    word-wrap: break-word;*/
}
/* address end */

.overlay {
    position: absolute;
    opacity: 60%;
    z-index: 1;
    background-color: #000;
    inset: 0;
}

